.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-give{
  background-color:rgb(255, 167, 4);
  border-radius:50px;
  width: 100px;
  color: white;
  font-weight: 600;
  border-style: none;
  padding: 10px;
}
