.custom-adopt-form-container {
    text-align: center;
    padding: 50px;
}

.custom-form-heading {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 10px;
    color: #fea034;
    border-bottom: 2px solid #fea034;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pet-details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #fea034;
    width: 310px;
    height: 120px;
    margin-bottom: 17px;
}

.pet-pic img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.pet-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.pet-info h2 {
    font-family: "Varela Round", sans-serif;
    color: #fea034;
    text-align: center;
    margin: 5px 0;
}

.pet-info p {
    font-family: "Varela Round", sans-serif;
    color: #fea034;
    margin: 2px 0;
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    width: 100%;
    max-width: 500px;
}

.custom-label {
    font-family: "Varela Round", sans-serif;
    color: #fea034;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.email-not-valid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email-not-valid p {
    font-family: "Varela Round", sans-serif;
    color: #e73a3a;
    font-size: 14px;
    margin-bottom: 5px;
}

.error-message {
    color: #e73a3a;
    font-size: 1rem;
    margin-bottom: 10px;
}

.custom-cta-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: #fea034;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.custom-cta-button:hover {
    background-color: #ff9317;
    cursor: pointer;
}

.custom-cta-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.custom-m-b {
    margin-bottom: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.close-btn {
    background-color: #ff1900;
    border: none;
    color: white;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn i {
    margin-left: 5px;
}
