.logo-container {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo {
    margin-left: 10px;
    width: 54px;
}
.logo-container p {
    font-family: 'Oxygen', sans-serif;
    margin-left: 10px;
    font-size: 29px;
    margin-bottom: 0px;
}
.footer {
    background-color: #f8f9fa;
    color: black;
    padding-top: 20px;  
}

.footer-content {
    text-align: center;
}

.mail-links {
    color: black;
    text-decoration: none;
}

.mail-links:hover {
    text-decoration: underline;
}

.contact-links {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.contact-links:hover {
    background-color: orange;
    color: white;
    text-shadow: 2px 2px 2px orange;
    text-decoration: none;
    border-radius: 20px;
}

.below-footer {
    background-color: #f8f9fa;
    color: black;
    padding: 5px;
    text-align: center;
    line-height: 1.6;
    
}
.below-footer p{
    margin-bottom: 0.2rem;
}